{% extends 'main.html' %}

{% block title %} Movie list {% endblock %}

{% block site %}
    {% if user.is_authenticated %}
        Hello {{ user.username }}<br>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}


    <hr>
    <a href="{% url 'new_movie' %}">New movie</a>

    <h1>Place for movie</h1>
    {% if movies|length == 0 %}
        <h1> Empty database </h1>
        <h1>Movie count: {{ movies|length }}</h1>
        <h1>Movie count:</h1>
    {% else %}
        <h1>Place for movie</h1>
        <h1>Movie count: {{ movies|length }}</h1>

        {% for movie in movies %}
            <h3>{{ movie }}</h3>
            <a href="{% url 'edit_movie' movie.id %}">Edit</a>
            <a href="{% url 'delete_movie' movie.id %}">Delete</a>
        {% endfor %}
    {% endif %}
{% endblock %}