{% extends 'main.html' %}
{% load bootstrap %}
{% block title %} Movie form {% endblock %}

{% block site %}
    <div class="card" style="width: 36rem; float: left; margin-right: 1rem;">
      <div class="card-body">
          {% if new  %}
            <h5 class="card-title">New movie</h5>
          {% else %}
            <h5 class="card-title">Edit movie</h5>
          {%endif%}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                {{ bonus_form|bootstrap }}
                    {% if new  %}
                        <button type="submit" class="btn btn-primary"> Add movie </button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Edit</button>
                    {%endif%}
            </form>
      </div>
    </div>
    <div class="card" style="width: 36rem; float: left; margin-right: 1rem;">
      <div class="card-body">
          <h5 class="card-title">Rate the movie</h5>
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{review_form|bootstrap }}
              <button type="submit" class="btn btn-primary"> Rate the movie </button>
          </form>
      </div>
    </div>


    {% for r in rev %}
        <h4>Review: {{r.stars}}</h4>
        <p>{{r.review }}</p>
    {% endfor %}

    <a href="{% url 'all_movies' %}">Back</a>
{% endblock %}